.cart {padding: 11rem 2rem 10rem;}

.cart h1::after {
  width: 90%;
  height: 1px;
  background-color: black;
  content: "";
  display: block;
  margin: 2rem auto 0;
}

.cart-row {
  width: 90%;
  border-bottom: 1px solid black;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cart-row img {
  height: 7.5rem;
}

.cart-item-name, .cart-item-price {
  font-size: 1.2rem;
  display: inline;
  margin: 0 1rem;
}

.cart-item-name {
  font-weight: 600;
}

.cart-item-quantity {
  height: 2rem;
  width: 3rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 1rem;
  order: 4;
}

.cart-item-remove {
  color: red;
  background-color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 1rem;
  order: 5;
}

.purchase-button {
  border: none;
  background-color: black;
  width: 20rem;
  color: white;
  height: 3rem;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 1.5rem calc(50% - 10rem) .5rem;
  transition: 0.3s;
  border: 2px solid black;
}

.purchase-button:hover {
  background-color: white;
  color: black;
}

.cart-total-box {
  margin-top: 1rem;
  text-align: center;
}

.cart-total-text, .cart-total {
  font-size: 1.5rem;
  display: inline;
}

.cart-total-text {font-weight: 600;}


@media (min-width: 768px) {

  .cart-row, .cart h1::after {
    width: 40rem;
    margin: 0 calc(50% - 20rem);
  }

  .cart h1::after {margin: 2rem calc(50% - 20rem) 0;}

  .cart-total-box {
    margin-right: calc(50% - 20rem);
    float: right;
  }

}


@media (min-width: 1024px) {

  .cart-row, .cart h1::after {
    width: 50rem;
    margin: 0 calc(50% - 25rem);
  }

  .cart h1::after {margin-top: 2rem;}

  .cart-row img {height: 10rem;}

}
