/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.contact {
  font-size: 1rem;
  text-align: center;
  padding: 5rem 1rem;
  line-height: 1.5;
}

.contact h2 {
  font-size: 3rem;
  margin-top: 4.5rem;
}

.contact p {
  letter-spacing: .05rem;
  margin-bottom: 1rem;
}

.contact a {
  font-style: italic;
}
.contact h2::after {
  display: block;
  content: "";
  background-color: black;
  height: 1px;
  width: 14rem;
  margin: .5rem auto;
  margin-bottom: 2rem;
}

.contact i {
  font-size: 7rem;
  margin-top: 3rem;
}

footer {
  position: absolute;
  bottom: 0;
}
