
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  text-align: center;
  background-color: black;
  font-size: 1rem;
  color: snow;
  padding: .5rem 1rem;
}

  footer p {
    margin-bottom: 0;
    letter-spacing: .05rem;
  }

  footer small {
    line-height: 1.5;
  }
