
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
  background-color: black;
  font-size: 1rem;
  color: white;
}

  footer p {
    letter-spacing: .05rem;
  }

  footer small {
    line-height: 1.5;
  }
