#main-footer {
  padding: 2rem;
  color: rgb(226, 226, 226);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-links li {
  cursor: pointer;
  line-height: 1.3rem;
}

.footer-links li:hover {
  text-decoration: underline;
  color: white;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
}

.footer-link {
  padding: 0 10px;
}
