main {
  text-align: center;
  margin-top: 3rem;
}

main img {
  display: block;
  width: 100%;
  height: auto;
}

.comment {padding: 3rem 2rem;}

.comment p, .comment h3 {color: white;}

.comment h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.comment img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
}

.date {
  text-align: right;
  margin-top: .5rem;
  font-style: italic;
}

button[name=learn-more] {
  border: 3px solid white;
  background-color: white;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: .5rem;
  transition: .2s;
}

button[name=learn-more]:hover {
  background-color: inherit;
  color: white;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  color: rgb(226, 226, 226);
}

.showcase .bg-image {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
  opacity: 0.4;
}

#showcased-product1 .bg-image {
  background: #333 url(../assets/keyboard/keyboard-stock.jpg) no-repeat
    center/cover;
}
#showcased-product2 .bg-image {
  background: #333 url(../assets/keyboard/keyboard-stock2.jpg) no-repeat
    center/cover;
}
#showcased-product3 .bg-image {
  background: #333 url(../assets/keyboard/keyboard-stock3.jpg) no-repeat
    center/cover;
}

.showcase h1 {
  font-size: 2rem;
  padding: 0.5rem 0rem;
}

.showcase a {
  font-weight: 400;
  padding: 0.5rem 1rem 0 1rem;
}

.showcase div {padding-bottom: 0.5rem;}

.showcase h2 {padding-bottom: 0.5rem;}

.showcase:last-child {margin-bottom: 0;}

.contact {padding: 2rem 2rem 0;}

.contact p, .contact h2, .contact i, .contact a {color: snow;}

.contact p {line-height: 1.5rem;}

.contact h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.contact i {
  font-size: 5rem;
  margin-top: 1rem;
}

.contact::after {
  content: '';
  display: block;
  position: relative;
  width: 90%;
  height: 2px;
  background-color: white;
  margin: 3rem auto 0;
}

@media (min-width: 728px) {

  .contact::after {width: 30rem;}

  .comment p, .comment h3 {text-align: left;}

  .comment div {
    display: inline-block;
    max-width: 30rem;
    vertical-align: middle;
  }

  .comment img {margin-right: 1rem;}

}
