/*------------------------------------*\
  #NAV
\*------------------------------------*/

.navbar {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  color: rgb(226, 226, 226);
  z-index: 10;
}

.navbar-links {
  transition: .3s;
}

.navbar-links ul {
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-size: .8rem;
}

.navbar-links li a:hover {
  cursor: pointer;
  color: white;
}

.toggle-button {
  color: rgb(226, 226, 226);
  position: absolute;
  cursor: pointer;
}

.menu-icon {
  left: 1rem;
}

.menu-icon div {
  width: 20px;
  height: 1px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.menu-icon div:hover {
  background-color: white;
}

.bag-icon {
  right: 1rem;
}

.bag-icon:hover {
  color: white;
}

.company-logo {
  height: 4rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .body {
    overflow-y: hidden;
  }

  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: absolute;
    left: 0px;
    height: calc(100vh - 3rem);
    width: 100%;
    top: 3rem;
    background-color: #333;
    transform: translateY(100%);
  }

  .navbar-links li a {
    font-size: 1rem;
  }

  .navbar-links li {
    border-top: 0.5px solid #808080;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 0 10vw 0 10vw;
  }

  .navbar-links li:first-child {
    border-top: none;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .nav-active {
    transform: translateY(0%);
  }
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .bag-icon {
    position: absolute;
    right: 1.5rem;
  }
  .company-logo {
    position: absolute;
    left: 1.5rem;
  }

  .navbar-links li a {
    padding: 2rem;
    color: rgb(226, 226, 226);
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
/*TODO: media query for desktop*/

.toggle .line1 {
  transform: rotate(-45deg) translate(-2.5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-2.5px, -6px);
}
