nav {
  height: 6rem;
  width: 100%;
  position: fixed;
  background-color: rgb(255,255,255);
}

.nav-icon {
  font-size: 1.5rem;
  margin: 2rem;
  display: inline-block;
  cursor: pointer;
}

nav p {
  font-size: 1.5rem;
  position: absolute;
  top: calc(50% - .75rem);
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}

.cart-icon {float: right;}

.nav-list a {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding: 2rem;
  border-top: 1px solid rgba(200,200,200,.5);
  background-color: rgb(255,255,255);
}

.nav-list {display: none;}




@media (min-width: 768px) {

  .nav-icon {font-size: 2rem;}

  nav p {
    font-size: 2rem;
    top: calc(50% - 1rem);
  }

}


@media (min-width: 1024px)  {

  .nav-icon { display: none;}

  nav p {left: calc(50% - 20rem);}

  .nav-list {
    display: block !important;
    position: absolute;
    top: calc(50% - .6rem);
    right: calc(50% - 25rem);
  }

  .nav-list a {
    display: inline;
    font-size: 1.2rem;
    transition: .5s;
    padding: 2.3rem 1rem;
    text-align: left;
    border: none;
  }

  .nav-list a:hover {background-color: rgba(230,230,230);}

}
