p {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem;
  line-height: 1.6rem;
}

h1 {
  text-transform: none;
  font-size: 2.5rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.container {
  padding: 6rem 5% 10rem;
}

.content {
  min-height: calc(100vh - 50px);
}
.product-info, .product-image {
  width: 100%;
  margin: 1rem 0;
}

@media (min-width: 425px) {

  .product-info, .product-image {
    width: 20rem;
    margin: 1rem calc(50% - 10rem);
  }

}

@media (min-width: 768px) {

  .container {padding: 10rem calc(50% - 22rem) 10rem;}

  .product-info, .product-image {
    width: 20rem;
    display: inline-block;
    margin: 1rem;
  }

  .product-image {float: left;}

}

@media (min-width: 1024px) {

  .container {
    padding: 10rem calc(50% - 27rem) 10rem;
  }

  .product-info, .product-image {
    width: 25rem;
    display: inline-block;
    margin: 1rem;
  }

}
